

.button-login {
    /* margin-top: 20px; */
    outline: none !important;
    background-color: #F7971E;
    border: none;
    color: #FFFFFF;
    /* height: 70px; */
    font-weight: bold;
    font-size: 19px ;
}

.loading-spinner {
    width: 30px;
    margin-left: -30px;
}

.button-login:hover  {
    outline: none !important;
    background-color: #FFD200;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(233, 58, 58);
}

.wrapper-link-auth {
    margin-top: 10px;
}

.link-auth {
    text-align: center;
    margin-top: 10px;
}

/* .button-register {
    outline: none !important;
    background-color: #1fb8ff;
    border: none;
    color: #FFFFFF;
    height: 70px;
    font-weight: bold;
    font-size: 20px ;
}

.button-register:hover  {
    outline: none !important;
    background-color: #49d5ff;
}

.wrapper-register {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.wrapper-register a {
    cursor: pointer;
} */


