<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <section class="wrapper-categories">
        <ul class="list-unstyled">
          <li
            class="link-category cursor-link"
            *ngFor="let category of categories; let i = index"
            (click)="onSearchCategory(category.id)"
          >
            {{ category.name | titlecase }}
          </li>
        </ul>
        <br />
        <hr class="line-break" />
      </section>

      <section class="wrapper-search-product">
        <div class="row">
          <div class="col-md-6">
            <div class="search-product">
              <input
                type="text"
                #nameSearchInput
                class="form-control input-search-product"
                placeholder="Search by products"
              />
            </div>
        </div>

      

        <div class="col-md-6"> 
          <button class="btn btn-clear btn-block" (click)="onClearFilter()">Clear Filter</button>
        </div>
        </div>
      </section>

      <section class="wrapper-sub-categories">
        <div class="row">
          <div
            class="col cursor-link"
            *ngFor="let subcategory of subcategories; let i = index"
            (click)="onSearchSubCategory(subcategory.id)"
          >
            <div class="card-sub-categories">
              <img [src]="subcategory.image" [alt]="subcategory.name" />
              {{ subcategory.name | titlecase }}
            </div>
          </div>
        </div>
      </section>

      <section class="wrapper-products">
        <div class="row">
         <ng-container *ngIf="isLoadingProduct else elseProduct">
           <div class="wrapper-no-product">
            <img src="assets/no-product.gif" alt="No Product">
           </div>
         </ng-container>

         <ng-template #elseProduct>
          <ng-container *ngIf="products.length > 0; else elseProducts">
            <div class="col-3" *ngFor="let product of products; let i = index" >
              <span
                class="notify-badge-discount"
                *ngIf="product.discount !== null"
                >Discount {{ product.discount }}%</span
              >
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products" (click)="AddToCart(product)">
                <img [src]="product.image" [alt]="product.name" />
                {{ product.name }}
  
                <div
                  *ngIf="
                    product.discount !== null;
                    then thenBlock;
                    else elseBlock
                  "
                ></div>
  
                <ng-template #thenBlock>
                  <span class="text-discount">{{
                    product.original_price | currency: "Rp. "
                  }}</span>
                  <span>{{ product.discount_price | currency: "Rp. " }}</span>
                </ng-template>
  
                <ng-template #elseBlock>
                  <span>{{ product.original_price | currency: "Rp. " }}</span>
                </ng-template>
              </div>
            </div>
          </ng-container>
  
            <ng-template #elseProducts>
              <div class="col-md-12 wrapper-no-products">
                <img src="assets/no-food.png" alt="No Food">
                <span>No Food Or Drink !</span>
              </div>
            </ng-template>
         </ng-template>

        </div>
      </section>
    </div>
    <div class="col-md-4 wrapper-rightbar-product">
      <section class="wrapper-carts">
        <div class="col-12">
          <table class="table" *ngIf="carts.length > 0; else elseCart">
            <thead>
              <tr>
                <th class="column-no" scope="col">No</th>
                <th class="column-name" scope="col">Name</th>
                <th class="column-qty" scope="col" style="text-align: center;">Qty</th>
                <th class="column-total" scope="col">Price</th>
                <th class="column-delete" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts; let i = index">
                <th class="column-no" scope="row">{{ i+1 }}</th>
                <td class="column-name">{{ cart.name }}</td>
                <td class="column-qty">
                  <div class="wrapper-input-qty">
                    <i
                      class="fa fa-minus minus-cart"
                      aria-hidden="true"
                      (click)="onPlusMinusCart(cart, 1, 'MINUS')"
                    ></i>
                    <input
                      type="text"
                      class="input-qty-cart"
                      [value]="cart.qty"
                      min="1"
                      (keyup)="onChangeQtyCart(cart,$event)"
                    />
                    <i
                      class="fa fa-plus plus-cart"
                      aria-hidden="true"
                      (click)="onPlusMinusCart(cart, 1, 'PLUS')"
                    ></i>
                  </div>
                </td>
                <td class="column-total">{{ cart.total | currency: "Rp. " }}</td>
                <td class="column-delete"><i class="fa fa-trash trash-cart" (click)="onDeleteCart(cart)"></i></td>
              </tr>
            </tbody>
          </table>

          <ng-template #elseCart>
            <div class="wrapper-nocart">
              <img src="assets/nocart.png" alt="No Cart">
              <span>Cart is empty !</span>
            </div>
          </ng-template>
        </div>
      </section>

      <hr />
      <section class="wrapper-payment">
        <div class="col-12">
          <div class="payment">
            <div class="row container-payments">
              <div class="col-12">
                <ng-container *ngIf="isLoadingPayment; else elsePaymentButton">
                  <button type="button" class="btn btn-block btn-payment" disabled>
                    <img
                      src="assets/spinner.gif"
                      class="loading-spinner"
                      alt="spinner"
                    />Loading...
                  </button>
                </ng-container>

                <ng-template #elsePaymentButton>
                  <button type="button" class="btn btn-block btn-payment" *ngIf="total_price > 0" (click)="onPayment()">
                    Pay {{ total_price | currency:'Rp. ' }} ( {{ total_qty }} Qty ) 
                  </button>
                  <button type="button" class="btn btn-block btn-payment" *ngIf="total_price == 0" disabled>
                    Pay
                  </button>
                </ng-template>
                <button type="button" class="btn btn-block btn-cancel-payment" (click)="onCancelCart()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
