<div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <section class="wrapper-categories">
          <ul class="list-unstyled">
            <li class="link-category">Food</li>
            <li class="link-category">Bars</li>
            <li class="link-category">Clothes</li>
            <li class="link-category">Apparels</li>
            <li class="link-category">Fashions</li>
          </ul>
          <br>
          <hr class="line-break">
        </section>

        <section class="wrapper-search-product">
          <div class="search-product">
            <input type="text" class="form-control input-search-product" placeholder="Search by products">
          </div>
        </section>

        <section class="wrapper-sub-categories">
          <div class="row">
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/burger.png" alt="">
                  Burger
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/hot-cup.png" alt="">
                  Coffe
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/mug.png" alt="">
                  Tea
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/bubble-tea.png" alt="">
                  Bubble
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/juice.png" alt="">
                  Juice
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/ramen.png" alt="">
                  Ramen
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/steak.png" alt="">
                  Steak
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/chicken-leg.png" alt="">
                  Chicken
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/burrito.png" alt="">
                  Burito
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/ice-cream.png" alt="">
                  Ice Cream
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/donut.png" alt="">
                  Donut
              </div>
            </div>
            <div class="col">
              <div class="card-sub-categories">
                <img src="assets/subcategories/macaron.png" alt="">
                  Macaron
              </div>
            </div>
          </div>
        </section>

        <section class="wrapper-products">
          <div class="row">
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/1.png" alt="">
                Burger Testing 1
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/2.png" alt="">
                Burger Testing 2
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/3.png" alt="">
                Burger Testing 3
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/4.png" alt="">
                Burger Testing 4
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/5.png" alt="">
                Burger Testing 5
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/6.png" alt="">
                Burger Testing 6
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/7.png" alt="">
                Burger Testing 7
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
            <div class="col-3">
              <span class="notify-badge-discount">Discount 10%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img src="assets/burgers/8.png" alt="">
                Burger Testing 8
                <span>Rp. 23.000</span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-3 wrapper-rightbar-product">
        <section class="wrapper-carts">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col" style="text-align: center;">Qty</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Burger Testing 1</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 2</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <hr>
        <section class="wrapper-payment">
          <div class="col-12">
            <div class="payment">
              <div class="row container-payments">
                <div class="col-6">Discount %</div>
                <div class="col-6 text-right">
                  <input type="text" class="input-discount-payment">
                </div>
              </div>
              <div class="row container-payments">
                <div class="col-6">Sub Total </div>
                <div class="col-6 text-right">
                  Rp. 133.000
                </div>
              </div>
              <hr>
              <div class="row container-payments">
                <div class="col-6">Total </div>
                <div class="col-6 text-right">
                  Rp. 133.000
                </div>
              </div>
              <div class="row container-payments">
                <div class="col-12">
                  <button type="button" class="btn btn-block  btn-payment">
                    Pay Rp.133.000
                  </button>
                  <button type="button" class="btn btn-block btn-cancel-payment">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>