<div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <section class="wrapper-categories">
          <ul class="list-unstyled">
            <li class="link-category" *ngFor="let category of categories; let i = index">
              {{ category.name | titlecase }}
            </li>
          </ul>
          <br>
          <hr class="line-break">
        </section>

        <section class="wrapper-search-product">
          <div class="search-product">
            <input type="text" class="form-control input-search-product" placeholder="Search by products">
          </div>
        </section>

        <section class="wrapper-sub-categories">
          <div class="row">
            <div class="col" *ngFor="let subcategory of subcategories; let i = index">
              <div class="card-sub-categories">
                <img [src]="subcategory.image" [alt]="subcategory.name">
                  {{ subcategory.name | titlecase }}
              </div>
            </div>
          </div>
        </section>

        <section class="wrapper-products">
          <div class="row">
          
            <div class="col-3" *ngFor="let product of products; let i = index">
              <span class="notify-badge-discount" *ngIf="product.discount !== null ">Discount {{ product.discount }}%</span>
              <span class="notify-badge-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <div class="card-products">
                <img [src]="product.image" [alt]="product.name">
                {{ product.name }}

                <div *ngIf="product.discount !== null; then thenBlock else elseBlock"></div>
                
                <ng-template #thenBlock>
                  <span class="text-discount">{{ product.original_price | currency:'Rp. ' }}</span>
                  <span >{{ product.discount_price | currency:'Rp. ' }}</span>
                </ng-template>

                <ng-template #elseBlock>
                  <span >{{ product.original_price | currency:'Rp. ' }}</span>
                </ng-template>
              </div>
            </div>


          </div>
        </section>
      </div>
      <div class="col-md-3 wrapper-rightbar-product">
        <section class="wrapper-carts">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col" style="text-align: center;">Qty</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Burger Testing 1</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 2</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Burger Testing 3</td>
                  <td>
                    <div class="wrapper-input-qty">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                      <input type="text" class="input-qty-cart">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>Rp. 30.000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <hr>
        <section class="wrapper-payment">
          <div class="col-12">
            <div class="payment">
              <div class="row container-payments">
                <div class="col-6">Discount %</div>
                <div class="col-6 text-right">
                  <input type="text" class="input-discount-payment">
                </div>
              </div>
              <div class="row container-payments">
                <div class="col-6">Sub Total </div>
                <div class="col-6 text-right">
                  Rp. 133.000
                </div>
              </div>
              <hr>
              <div class="row container-payments">
                <div class="col-6">Total </div>
                <div class="col-6 text-right">
                  Rp. 133.000
                </div>
              </div>
              <div class="row container-payments">
                <div class="col-12">
                  <button type="button" class="btn btn-block  btn-payment">
                    Pay Rp.133.000
                  </button>
                  <button type="button" class="btn btn-block btn-cancel-payment">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>